body {
    text-align: center;
  }
  
  
  form, #message {
    display: inline-block;
    text-align: left;
  }
  
  form {
    margin-top: 50px;
  }
  
  #message {
    margin-top: 50px;
    font-size: 24px;
    font-weight: bold;
    color: green;
  }